__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/
.env
uploads/*
!uploads/.gitkeep
outputs/*
!outputs/.gitkeep
*.jpg
*.jpeg
!frontend/**
.pytest_cache/
htmlcov/
.coverage
*.log
offline-packages/
*.tar.gz
